In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:100% !important;}
div.CodeMirror {font-family:Consolas; font-size:13pt;}
div.prompt {min-width:70px;}
</style>
"""))

# 시작전 설정

In [2]:
import pandas as pd
from pandas import DataFrame

# 모든 컬럼이 표시되도록 max_columns 의 수 지정
pd.options.display.max_columns = 50

# 데이터 로드

## 컬럼명 주어진 CSV 파일에서 컬럼명을 구함

In [3]:

df701 = pd.read_csv("data/KPU_05_201701311_C_001.csv", sep=",",encoding='cp949')
colss = df701.columns

## 범죄원부 로우데이터 로드

In [4]:
df701 = pd.read_csv("data/KPU_05_20170131_C_001.csv", sep=",",header=None, names=colss)
df702 = pd.read_csv("data/KPU_05_20170228_C_001.csv", sep=",",header=None, names=colss)
df703 = pd.read_csv("data/KPU_05_20170331_C_001.csv", sep=",",header=None, names=colss)
df704 = pd.read_csv("data/KPU_05_20170430_C_001.csv", sep=",",header=None, names=colss)
df705 = pd.read_csv("data/KPU_05_20170531_C_001.csv", sep=",",header=None, names=colss)
df706 = pd.read_csv("data/KPU_05_20170630_C_001.csv", sep=",",header=None, names=colss)
df707 = pd.read_csv("data/KPU_05_20170731_C_001.csv", sep=",",header=None, names=colss)
df708 = pd.read_csv("data/KPU_05_20170831_C_001.csv", sep=",",header=None, names=colss)
df709 = pd.read_csv("data/KPU_05_20170930_C_001.csv", sep=",",header=None, names=colss)
df710 = pd.read_csv("data/KPU_05_20171031_C_001.csv", sep=",",header=None, names=colss)
df711 = pd.read_csv("data/KPU_05_20171130_C_001.csv", sep=",",header=None, names=colss)
df712 = pd.read_csv("data/KPU_05_20171231_C_001.csv", sep=",",header=None, names=colss)
df801 = pd.read_csv("data/KPU_05_20180131_C_001.csv", sep=",",header=None, names=colss)
df802 = pd.read_csv("data/KPU_05_20180228_C_001.csv", sep=",",header=None, names=colss)
df803 = pd.read_csv("data/KPU_05_20180331_C_001.csv", sep=",",header=None, names=colss)
df804 = pd.read_csv("data/KPU_05_20180430_C_001.csv", sep=",",header=None, names=colss)
df805 = pd.read_csv("data/KPU_05_20180531_C_001.csv", sep=",",header=None, names=colss)
df806 = pd.read_csv("data/KPU_05_20180630_C_001.csv", sep=",",header=None, names=colss)
df807 = pd.read_csv("data/KPU_05_20180731_C_001.csv", sep=",",header=None, names=colss)
df808 = pd.read_csv("data/KPU_05_20180831_C_001.csv", sep=",",header=None, names=colss)
df809 = pd.read_csv("data/KPU_05_20180930_C_001.csv", sep=",",header=None, names=colss)
df810 = pd.read_csv("data/KPU_05_20181031_C_001.csv", sep=",",header=None, names=colss)
df811 = pd.read_csv("data/KPU_05_20181130_C_001.csv", sep=",",header=None, names=colss)
df812 = pd.read_csv("data/KPU_05_20181231_C_001.csv", sep=",",header=None, names=colss)
df901 = pd.read_csv("data/KPU_05_20190131_C_001.csv", sep=",",header=None, names=colss)
df902 = pd.read_csv("data/KPU_05_20190228_C_001.csv", sep=",",header=None, names=colss)
df903 = pd.read_csv("data/KPU_05_20190331_C_001.csv", sep=",",header=None, names=colss)
df904 = pd.read_csv("data/KPU_05_20190430_C_001.csv", sep=",",header=None, names=colss)
df905 = pd.read_csv("data/KPU_05_20190531_C_001.csv", sep=",",header=None, names=colss)
df906 = pd.read_csv("data/KPU_05_20190630_C_001.csv", sep=",",header=None, names=colss)
df907 = pd.read_csv("data/KPU_05_20190731_C_001.csv", sep=",",header=None, names=colss)
df908 = pd.read_csv("data/KPU_05_20190831_C_001.csv", sep=",",header=None, names=colss)
df909 = pd.read_csv("data/KPU_05_20190930_C_001.csv", sep=",",header=None, names=colss)
df910 = pd.read_csv("data/KPU_05_20191031_C_001.csv", sep=",",header=None, names=colss)
df911 = pd.read_csv("data/KPU_05_20191130_C_001.csv", sep=",",header=None, names=colss)
df912 = pd.read_csv("data/KPU_05_20191231_C_001.csv", sep=",",header=None, names=colss)

df = pd.concat([df701,df702,df703,df704,df705,df706,df707,df708,df709,df710,df711,df712,
                df801,df802,df803,df804,df805,df806,df807,df808,df809,df810,df811,df812,
                 df901,df902,df903,df904,df905,df906,df907,df908,df909,df910,df911,df912,                
                ],axis=0)




# head로 미리보기

## 범죄 원부 로우데이터 통합

In [5]:
df.to_csv('data/범죄원부2017_2019.csv', sep=',',encoding='cp949')

## 데이터 확인 및 결측치 확인

In [6]:
df.shape

(9953, 41)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9953 entries, 0 to 277
Data columns (total 41 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   작성년월              9953 non-null   int64
 1   경찰서명(작성지관서)       9953 non-null   object
 2   발생 건수(전체)_건수      9953 non-null   int64
 3   피해자 성별(남자)_건수     9953 non-null   int64
 4   피해자 성별(여자)_건수     9953 non-null   int64
 5   피해자 성별(불상)_건수     9953 non-null   int64
 6   피해자 연령(6세이하)_건수   9953 non-null   int64
 7   피해자 연령(12세이하)_건수  9953 non-null   int64
 8   피해자 연령(15세이하)_건수  9953 non-null   int64
 9   피해자 연령(20세이하)_건수  9953 non-null   int64
 10  피해자 연령(30세이하)_건수  9953 non-null   int64
 11  피해자 연령(40세이하)_건수  9953 non-null   int64
 12  피해자 연령(50세이하)_건수  9953 non-null   int64
 13  피해자 연령(60세이하)_건수  9953 non-null   int64
 14  피해자 연령(60세초과)_건수  9953 non-null   int64
 15  피해자 연령(미상)_건수     9953 non-null   int64
 16  범죄유형(강력범죄)_건수     9953 non-null   int64
 17  범죄유형(폭력범죄)_건수     9953 non-null   int64
 18  범죄유형(절도범죄)_건수     9953 non-null   int64
 19  범죄유형(지능범죄)_건수     9953 non-null   int64
 20  범죄유형(기타범죄)_건수     9953 non-null   int64
 21  수사단서정보(고발)_건수     9953 non-null   int64
 22  수사단서정보(고소)_건수     9953 non-null   int64
 23  수사단서정보(진정)_건수     9953 non-null   int64
 24  수사단서정보(탄원)_건수     9953 non-null   int64
 25  수사단서정보(피해자신고)_건수  9953 non-null   int64
 26  수사단서정보(타인신고)_건수   9953 non-null   int64
 27  수사단서정보(탐문정보)_건수   9953 non-null   int64
 28  수사단서정보(불심검문)_건수   9953 non-null   int64
 29  수사단서정보(자수)_건수     9953 non-null   int64
 30  수사단서정보(여죄)_건수     9953 non-null   int64
 31  수사단서정보(변사체)_건수    9953 non-null   int64
 32  수사단서정보(현행범)_건수    9953 non-null   int64
 33  수사단서정보(기타)_건수     9953 non-null   int64
 34  발생요일(일)_건수        9953 non-null   int64
 35  발생요일(월)_건수        9953 non-null   int64
 36  발생요일(화)_건수        9953 non-null   int64
 37  발생요일(수)_건수        9953 non-null   int64
 38  발생요일(목)_건수        9953 non-null   int64
 39  발생요일(금)_건수        9953 non-null   int64
 40  발생요일(토)_건수        9953 non-null   int64
dtypes: int64(40), object(1)
memory usage: 3.2+ MB

In [8]:
df.isnull().sum()

작성년월                0
경찰서명(작성지관서)         0
발생 건수(전체)_건수        0
피해자 성별(남자)_건수       0
피해자 성별(여자)_건수       0
피해자 성별(불상)_건수       0
피해자 연령(6세이하)_건수     0
피해자 연령(12세이하)_건수    0
피해자 연령(15세이하)_건수    0
피해자 연령(20세이하)_건수    0
피해자 연령(30세이하)_건수    0
피해자 연령(40세이하)_건수    0
피해자 연령(50세이하)_건수    0
피해자 연령(60세이하)_건수    0
피해자 연령(60세초과)_건수    0
피해자 연령(미상)_건수       0
범죄유형(강력범죄)_건수       0
범죄유형(폭력범죄)_건수       0
범죄유형(절도범죄)_건수       0
범죄유형(지능범죄)_건수       0
범죄유형(기타범죄)_건수       0
수사단서정보(고발)_건수       0
수사단서정보(고소)_건수       0
수사단서정보(진정)_건수       0
수사단서정보(탄원)_건수       0
수사단서정보(피해자신고)_건수    0
수사단서정보(타인신고)_건수     0
수사단서정보(탐문정보)_건수     0
수사단서정보(불심검문)_건수     0
수사단서정보(자수)_건수       0
수사단서정보(여죄)_건수       0
수사단서정보(변사체)_건수      0
수사단서정보(현행범)_건수      0
수사단서정보(기타)_건수       0
발생요일(일)_건수          0
발생요일(월)_건수          0
발생요일(화)_건수          0
발생요일(수)_건수          0
발생요일(목)_건수          0
발생요일(금)_건수          0
발생요일(토)_건수          0
dtype: int64

## 경찰서 관할 행정구역 로드

In [59]:
police_region = pd.read_csv("data/경찰서_행정구역.csv", sep=",",encoding='cp949')

In [60]:
police_region

     광역   기초        경찰서
0    강원  강릉시    강원강릉경찰서
1    강원  고성군    강원고성경찰서
2    강원  동해시    강원동해경찰서
3    강원  삼척시    강원삼척경찰서
4    강원  속초시    강원속초경찰서
..   ..  ...        ...
282  충북  충주시    충북충주경찰서
283  충북  청주시  충북청주상당경찰서
284  충북  청주시  충북청주청원경찰서
285  충북  청주시  충북청주흥덕경찰서
286  세종  NaN   해양경비안전본부

[287 rows x 3 columns]

In [45]:
# df_region = df.groupby(['경찰서명(작성지관서)']).sum()
# df_region.to_csv('data/범죄원부_지역.csv', sep=',',encoding='cp949')
# df_interval_region = df.groupby(['작성년월','경찰서명(작성지관서)']).sum()
# df_interval_region.to_csv('data/범죄원부_시간_지역.csv', sep=',',encoding='cp949')
# df_interval_region

# 전처리

## 분석에 필요한 컬럼만 가져오기
- 작성년월
- 경찰서명
- 피해자 남자수
- 피해자 여자수
- 피해자 불상수
- 피해자 연령 
- 범죄 유형
- 발생 요일

In [18]:
df[['작성년월','경찰서명(작성지관서)','피해자 성별(남자)_건수']]

KeyError: "['피해자성별(남자)_건수'] not in index"

In [20]:
df2 = df[['작성년월',
'경찰서명(작성지관서)',
'피해자 성별(남자)_건수',
'피해자 성별(여자)_건수',
'피해자 성별(불상)_건수',
'피해자 연령(6세이하)_건수',
'피해자 연령(12세이하)_건수',
'피해자 연령(15세이하)_건수',
'피해자 연령(20세이하)_건수',
'피해자 연령(30세이하)_건수',
'피해자 연령(40세이하)_건수',
'피해자 연령(50세이하)_건수',
'피해자 연령(60세이하)_건수',
'피해자 연령(60세초과)_건수',
'피해자 연령(미상)_건수',
'범죄유형(강력범죄)_건수',
'범죄유형(폭력범죄)_건수',
'범죄유형(절도범죄)_건수',
'범죄유형(지능범죄)_건수',
'범죄유형(기타범죄)_건수',
'발생요일(일)_건수',
'발생요일(월)_건수',
'발생요일(화)_건수',
'발생요일(수)_건수',
'발생요일(목)_건수',
'발생요일(금)_건수',
'발생요일(토)_건수'
]]

In [21]:
df2.head()

,작성년월,경찰서명(작성지관서),피해자 성별(남자)_건수,피해자 성별(여자)_건수,피해자 성별(불상)_건수,피해자 연령(6세이하)_건수,피해자 연령(12세이하)_건수,피해자 연령(15세이하)_건수,피해자 연령(20세이하)_건수,피해자 연령(30세이하)_건수,피해자 연령(40세이하)_건수,피해자 연령(50세이하)_건수,피해자 연령(60세이하)_건수,피해자 연령(60세초과)_건수,피해자 연령(미상)_건수,범죄유형(강력범죄)_건수,범죄유형(폭력범죄)_건수,범죄유형(절도범죄)_건수,범죄유형(지능범죄)_건수,범죄유형(기타범죄)_건수,발생요일(일)_건수,발생요일(월)_건수,발생요일(화)_건수,발생요일(수)_건수,발생요일(목)_건수,발생요일(금)_건수,발생요일(토)_건수
0,201701,경기의왕경찰서,97,52,56,0,1,2,6,15,35,43,32,14,57,2,32,11,30,130,30,29,32,29,28,32,25
1,201701,경기의정부경찰서,454,332,297,4,7,9,62,145,142,167,154,94,299,9,241,106,216,511,135,147,154,169,150,171,157
2,201701,경기이천경찰서,156,89,184,0,4,5,23,55,38,46,52,21,185,3,65,15,59,287,68,66,60,65,60,52,58
3,201701,경기일산동부경찰서,411,265,210,3,4,6,31,123,143,180,127,59,210,14,143,79,157,493,102,117,134,137,124,143,129
4,201701,경기일산서부경찰서,249,142,113,1,2,4,19,67,74,92,76,55,114,7,67,40,75,315,49,70,74,66,85,87,73

## 칼럼 이름 바꾸기

In [27]:
df2.columns = ['작성년월','경찰서','남자','여자','성별미상',
               '~6','7~12','13~15','16~20','21~30','31~40','41~50','51~60','61~','나이미상',
               '강력','폭력','절도','지능','기타',
               '일','월','화','수','목','금','토']

In [55]:
df2.head()

,작성년월,경찰서,남자,여자,성별미상,~6,7~12,13~15,16~20,21~30,31~40,41~50,51~60,61~,나이미상,강력,폭력,절도,지능,기타,일,월,화,수,목,금,토
0,201701,경기의왕경찰서,97,52,56,0,1,2,6,15,35,43,32,14,57,2,32,11,30,130,30,29,32,29,28,32,25
1,201701,경기의정부경찰서,454,332,297,4,7,9,62,145,142,167,154,94,299,9,241,106,216,511,135,147,154,169,150,171,157
2,201701,경기이천경찰서,156,89,184,0,4,5,23,55,38,46,52,21,185,3,65,15,59,287,68,66,60,65,60,52,58
3,201701,경기일산동부경찰서,411,265,210,3,4,6,31,123,143,180,127,59,210,14,143,79,157,493,102,117,134,137,124,143,129
4,201701,경기일산서부경찰서,249,142,113,1,2,4,19,67,74,92,76,55,114,7,67,40,75,315,49,70,74,66,85,87,73

## 행정구역

In [61]:
df3 = pd.merge(df2, police_region, indicator=True)

In [62]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10169 entries, 0 to 10168
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   작성년월    10169 non-null  int64
 1   경찰서     10169 non-null  object
 2   남자      10169 non-null  int64
 3   여자      10169 non-null  int64
 4   성별미상    10169 non-null  int64
 5   ~6      10169 non-null  int64
 6   7~12    10169 non-null  int64
 7   13~15   10169 non-null  int64
 8   16~20   10169 non-null  int64
 9   21~30   10169 non-null  int64
 10  31~40   10169 non-null  int64
 11  41~50   10169 non-null  int64
 12  51~60   10169 non-null  int64
 13  61~     10169 non-null  int64
 14  나이미상    10169 non-null  int64
 15  강력      10169 non-null  int64
 16  폭력      10169 non-null  int64
 17  절도      10169 non-null  int64
 18  지능      10169 non-null  int64
 19  기타      10169 non-null  int64
 20  일       10169 non-null  int64
 21  월       10169 non-null  int64
 22  화       10169 non-null  int64
 23  수       10169 non-null  int64
 24  목       10169 non-null  int64
 25  금       10169 non-null  int64
 26  토       10169 non-null  int64
 27  광역      10169 non-null  object
 28  기초      8139 non-null   object
 29  _merge  10169 non-null  category
dtypes: category(1), int64(26), object(3)
memory usage: 2.3+ MB

In [63]:
df3['광역'].unique()

array(['경기', '경남', '경북', '광주', '전북', '대구', '대전', '강원', '전남', '충남', '부산',
       '제주', '서울', '울산', '인천', '세종', '충북'], dtype=object)

In [64]:
df_metro = df3.groupby(['광역']).sum()
df_metro

,작성년월,남자,여자,성별미상,~6,7~12,13~15,16~20,21~30,31~40,41~50,51~60,61~,나이미상,강력,폭력,절도,지능,기타,일,월,화,수,목,금,토
광역,,,,,,,,,,,,,,,,,,,,,,,,,,
강원,149337422,71059,43934,49630,368,982,1254,6354,16462,18544,25254,26593,18979,49833,2484,30586,15303,27835,88415,20261,24264,24690,24014,24233,25147,22014
경기,315021152,535184,317441,350838,3410,8331,12115,54393,155584,164534,181244,171935,99516,352401,17538,218185,124075,246195,597470,146781,172767,177156,177896,179740,185901,163222
경남,187276630,128649,74371,97985,580,1605,2108,10905,30628,37753,45162,43876,30015,98373,3722,49823,33872,64801,148787,35877,44106,44613,46867,45247,46219,38076
경북,186470406,104437,62331,73885,670,1366,1705,9225,26035,29509,35495,35167,27357,74124,3111,38218,25064,48352,125908,28524,35257,35881,35503,36905,37153,31430
광주,36325170,64973,37455,33448,423,984,1237,7175,20561,19765,21137,18896,12139,33559,2346,25303,14523,27193,66511,16060,20110,19750,20022,20219,21480,18235
대구,72650340,107557,62062,53327,599,1518,2232,11627,32570,30616,34540,33216,22513,53515,3212,40422,25697,46509,107106,27178,32681,32984,32894,32567,33996,30646
대전,43590204,65405,41438,30640,401,904,1478,7303,21713,19886,21082,20217,13666,30833,2448,26206,17556,29278,61995,15988,20514,20546,20453,20487,21609,17886
부산,116240544,159652,93488,101126,586,1561,2740,16517,49069,45561,48630,49848,38091,101663,5570,61072,44574,83676,159374,41583,53897,53128,52405,52467,54277,46509
서울,225216054,447207,278069,212092,2261,4577,7313,39447,158559,137327,135297,137073,100983,214531,21444,170147,122279,227124,396374,108578,136724,139794,138677,141210,148642,123743
세종,10091145,7914,4593,3729,66,153,234,640,1815,2704,2909,2414,1519,3782,258,2306,2019,4212,7441,1598,2450,2598,2582,2453,2619,1936
울산,36325170,45131,27059,33200,252,777,931,3887,12324,14019,15942,15436,8560,33262,1497,20181,10096,21968,51648,12736,15043,15835,15459,15718,16408,14191
인천,98886226,144261,83788,101080,711,1864,3002,14186,44375,43824,46729,46842,25890,101706,6257,67640,33682,69729,151821,39529,48184,48632,48814,49620,50184,44166
전남,187074538,87541,52409,69423,585,1479,1722,7356,18510,23156,30515,31373,25043,69634,3059,36642,19159,34644,115869,24304,31524,31327,30884,31351,32352,27631
전북,123102072,68188,38213,46030,359,962,1382,6747,16581,17325,22683,22513,17667,46212,2339,26273,16884,32375,74560,17632,23006,22772,22837,22936,23842,19406
제주,41370249,37824,26006,27084,255,574,677,2786,9909,12491,15191,13261,8588,27182,1348,15807,9413,16350,47996,11200,13686,13438,13345,13636,13767,11842
충남,128753557,95836,52028,58578,491,1161,1617,8252,24080,26841,31577,30903,22644,58876,3133,34178,25763,42296,101072,24436,30260,30774,30321,31466,32186,26999
충북,94445442,70761,40805,40521,440,1071,1257,6808,18763,19488,23469,23656,16432,40703,2466,25306,17737,28790,77788,17732,22483,22565,22238,23179,23889,20001